

.aboutBody{
    background-color:#080808;
}
.aboutMetaImg{
    text-align:center;
    padding:6%;
}
.aboutMetaImg img{
    width:21%;
    height:10%;
}
.aboutMissionHead{
    background-image: linear-gradient(270deg, #6C6A6A 6.12%, #FFFFFF 103.1%);
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.aboutMethodCards{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.aboutMethodCards div{
background-color:#1E262E
}
.aboutEco{
    display:flex;
    flex-direction:row;
    margin-top:14%;
}
.aboutCarousel{
    margin-top:10%;
}
.carousel-container {
    width: 100%;
    overflow: hidden;
    margin-top:4%;
  }
  
  .carouselAbout {
    display: flex;
    gap:100px;
    animation: slide 10s linear infinite;
  }
  
  .slideAbout {
    flex-shrink: 0;
    animation: slide 10s linear infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
.aboutSocial{
    margin-top:10%;
}
.aboutBody h1{
    background-image: linear-gradient(270deg, #6C6A6A 6.12%, #FFFFFF 103.1%);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.backImg{
    background-image: url("../Assets/Galactic Monochrome.png");
    background-repeat:no-repeat;
    background-size: cover;
}

@media only screen and (max-width:401px){
  .aboutSocialIcons div{
      padding-top:0.5vw !important;
  }
  .aboutSocialIcons div div{
      padding-top:0.3px !important;
  }
}
@media only screen and (max-width:701px){
  .aboutSocialIcons div{
      padding-top:2vw !important;
  }
  .aboutSocialIcons div div{
      padding-top:1px !important;
  }
}
@media only screen and (max-width:600px){
  .aboutSocialIcons div{
      padding-top:1vw !important;
  }
  .aboutSocialIcons div div{
      padding-top:1px !important;
  }
}
@media only screen and (max-width:1000px){
.contactUsButton{
  border-radius: 4px !important;
}
}
@media only screen and (max-width:900px){
.contactUsButton{
  border-radius: 3px !important;
}
}